__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.env.*
data/*.csv
!data/sample_adult_small.csv
!data/train_classif.csv
!data/ts_train.csv
# --- MODELS ---
models/*
!models/*.joblib
!models/*.json
!models/.gitkeep
